@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
:root{
    --body-color: rgb(250,250,250);
    --color-white:rgb(255,255,255) ;
    --first-shadow-color:rgb(0,0,0,0.1);
}
.container{
    width:100%;
    position: relative;
}


/* nav section */

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width:100%;
    height:50px;
    line-height: 50px;
    background-color: white;
    padding-inline: 9vw;
    transition: .3s;
    z-index:100;
}
.logo img{
    border-radius:10px;
}

.nav-menu-list{
    display: flex;

}
.list-items{
    list-style: none;
    position: relative;  
}

.nav-link{
    text-decoration: none;
    color:#00B5E7;
    font-weight: 300;
    padding-inline: 20px;
}

/* first section */

.background-image{
    background:url(../WhatsApp\ Image\ 2023-09-22\ at\ 2.06.02\ PM.jpeg);
    width:100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    position: relative;
}
header{
    position: relative;
    display: flex;
    justify-content: space-between;
    width:100%;
    height:50px;
    line-height: 50px;
    background-color: transparent;
    padding-inline: 9vw;
    transition: .3s;
    z-index:100;
}
.header-link{
    text-decoration: none;
    color:black;
    font-weight: 300;
    padding-inline: 20px;
}
.background-content{
    position: absolute;
    top:30%;
    left: 50%;
    width: 50%;
    transform: translate(-80%);
}
.background-content h1{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.background-content p{
    font-size: 15px;
    font-weight: 300;
    color:white;
    
}
.background-content .btn{
    margin-top: 30px;
    padding: 15px 30px;
    border-radius: 30px;
    font-size: 20px;
    color: #00B5E7;
}
.uil {
    color: #00B5E7;
}
.form-box{
    position: absolute;
    top:80%;
    margin-right: 150px;
    margin-left: 150px;
    position:relative;
    display: flex;
    align-items: center;
    padding-block: 30px 50px;
    flex-direction: column;
    padding-inline: 20px;
    background: var(--color-white);
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    border-radius: 20px;
}
span{
    padding-block: 30px 40px;
}
span .input-field{
    border-radius: 5px;
    padding: 20px 50px;
    background-color:rgba(250, 246, 215, 0.985);
    border: none;
    margin-left: 10px;
}
span .btn{
    padding: 20px 50px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #00B5E7;
    color: white;
}


/* Holder */

.holder{
    padding-inline: 10vw;
}
.section{
    padding-block: 4em;
}
.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap:50px
}
.col{
    display:flex;
    width: 50%;
}

/* About box */


.top-header{
    text-align: center;
    margin-bottom: 5em;
    margin-top: 120px;
}
.top-header h1{
    color:rgb(145, 140, 140);
    font-size: 30px;
    font-weight: 300;
}
.about-info{
    position:relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.about-info img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    border: 3px solid white;
}
.about-info .round{
    border-radius: 50%;
}
.about-service h1{
     font-size: 35px;
     font-weight: 700;
     color: #00B5E7;
     margin-bottom: 20px;
}
.about-service p{
    color: rgb(67, 65, 63);
}
.service-available{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.service-details{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 48%;
    height: 100px;
    background: var(--color-white);
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow:hidden;
    margin-bottom: 20px;
}

.service-details>i{
    font-size: 30px;
    color: #005ce7;
}
.service-details>h5{
    margin-left: 50px;
    text-align: center;
   
} 
 .service-details>p{
    font-size:8px;
    text-align:center;
    
}


/* Service box */

.service-header{
    text-align: center;
    margin-bottom: 3em;
}
.service-header>h3{
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #777;
}

.service-header>h1{
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 10px;
    color:#00B5E7;
}
.service-header>p{
    font-size: 15px;
    margin-bottom: 10px;
    color:#a09292;
}

.service-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap:10px;
    flex-wrap: wrap;
}
.service-box{
    position: relative;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: column;
    width: 24%;
    height: 250px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 8px 10px 2px var(--first-shadow-color);
    overflow:hidden;
}
.service-box>h1{
    font-size: 50px;
    color: #00B5E7;
    margin-bottom:20px;
    margin-left: 20px;

}
.service-box>h3{
    font-size: 20px;
    color:black;
    margin-left: 20px;
    margin-bottom:10px;

}
.service-box>p{
    font-size: 15px;
    color: #777;
    margin-left: 20px;
    margin-bottom:20px;

}

/* Appointment booking box */

.background-image-2{
    background: url(../WhatsApp\ Image\ 2023-09-22\ at\ 4.57.45\ PM\ \(1\).jpeg);
    width:100%;
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 3%;
    position: relative;
}
.background-image-2>h1{
    margin-top: 60%;
    text-align: center;
    color:white;
    font-size: 40px;
    font-weight: 700;
}
.background-image-2>p{
    font-size: 15px;
    color:white;
    text-align: center;
}

/* booking box */

.booking-box{
    width: 100%;
}
.booking-header{
    display: flex;
    justify-content: space-around;
    width:100%;
    height:150px;
    background-color:#a09292;
    align-items: center;
}
.booking-header .booking-content>h1{
    color: white;
    font-weight: 500;
    font-weight: 40px;
}
.booking-header .booking-content>p{
    color: white;
    font-weight: 10px;
}
.booking-medium>i{
    color: green;
    font-size: 50px;
}

.booking-form{
    background-color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height:75%;
}
.input-field-1{
    width:100%;
    height: 55px;
    background: transparent;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.booking-form .btn{
    width:50%;
    height: 55px;
    background-color: #00B5E7;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

